<html>
	<head>
		<link rel="stylesheet" href="static/styles.css">
		<title>Rolsa Technologies - Carbon Footprint</title>
		<div class="navigation">
			<ul>
			  <li style="float:left"><a href="/">Rolsa Technologies</a></li>
			  <li><a href="/Account">Account</a></li>
			  <li><a href="/Booking">Booking</a></li>
			  <li><a href="/EnergyUsage">Your Energy Usage</a></li>
			  <li><a href="/CarbonFootprint" class="active">Your Carbon Footprint</a></li>
			</ul>
		</div>
	</head>
	<body>
		<div class="body">
			<h1 style="text-align:center; padding-top: 0.4vw;">How to reduce your carbon footprint</h1>
			<p>You can reduce your carbon footprint by: Doing an energy audit of your home. This will show how you use or waste energy and help identify ways to be more energy efficient.</p>
			<P>Changing incandescent light bulbs (which waste 90 percent of their energy as heat) to light emitting diodes (LEDs). Though LEDs cost more, they use a quarter of the energy and last up to 25 times longer. They are also preferable to compact fluorescent lamp (CFL) bulbs, which emit 80 percent of their energy as heat and contain mercury.</p>
			<p>Switch lights off when you leave the room and unplug your electronic devices when they are not in use.</p>
			<p>Turning your water heater down to 120˚F. This can save about 550 pounds of CO2 a year.</p>
			<p>Installing a low-flow showerhead to reduce hot water use can save 350 pounds of CO2. Taking shorter showers helps, too.</p>
			<p>Lowering your thermostat in winter and raise it in summer. Use less air conditioning in the summer; instead opt for fans, which require less electricity. And check out these other ways to beat the heat without air conditioning.</p>
			<p>Signing up to get your electricity from clean energy through your local utility or a certified renewable energy provider. Green-e.org can help you find certified green energy providers.</p>
			<div class="calculator">
				<div class="calculator-card">
					<iframe  width="99%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>