<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="3; url='/Account'" />
	<head>
		<link rel="stylesheet" href="static/styles.css">
		<title>Rolsa Technologies - Payment Complete</title>
		<div class="navigation">
			<ul>
			  <li style="float:left"><a href="/">Rolsa Technologies</a></li>
			  <li><a href="/Account">Account</a></li>
			  <li><a href="/Booking" class="active">Booking</a></li>
			  <li><a href="/EnergyUsage">Your Energy Usage</a></li>
			  <li><a href="/CarbonFootprint">Your Carbon Footprint</a></li>
			</ul>
		</div>
	</head>
	<body>
		<div class="body">
			<h2 style="text-align: center;">Payment Complete<h2>
		</div>
	</body>
</html>